@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: Shantell-Sans, sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
    background-color: rgb(165, 77, 42);
    text-indent: 36px;
    font-size: medium;
    font-style: oblique;
    position: absolute;
    bottom: 0;
    width: 100%;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: darkolivegreen;
}

.recipe_names {
    color: rgb(155, 62, 0);
    text-decoration: none;
}

.recipe_names_hover:hover {
    transition: all .15s ease-in-out;
    color:rgb(255, 158, 101);
}

h3:hover {
    transform: scale(1.35);
    transition: all 1s ease-in-out;
}

#recipes {
    padding: 0 12px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(auto, auto)
}

.nav_bar {
    color: white;
    text-decoration: none;
}

#recipe-page {
    padding: 0 0 48px 0;
}

.main-headers {
    padding: 0 12px;
}

h1 {
    color: rgb(0, 129, 86);
    font-weight: bolder;
}

tbody tr:nth-child(even) {
    background-color: rgb(219, 219, 219);
}

img {
    box-shadow: 1px 1px 3px orange;
}
